RedirectMatch /pdfs/netea-faq.pdf /pdfs/netea-faq-
RedirectMatch /pdfs/netea-tournament-pack.pdf /pdfs/netea-tournament-pack-

RedirectMatch /pdfs/netea-adeptus-mechanicus-knight-world.pdf /pdfs/netea-adeptus-mechanicus-knight-world-
RedirectMatch /pdfs/netea-adeptus-mechanicus-titan-legion.pdf /pdfs/netea-adeptus-mechanicus-titan-legion-
RedirectMatch /pdfs/netea-chaos-cultist-stigmatus-covenant.pdf /pdfs/netea-chaos-cultist-stigmatus-covenant-
RedirectMatch /pdfs/netea-chaos-space-marine-black-legion.pdf /pdfs/netea-chaos-space-marine-black-legion-
RedirectMatch /pdfs/netea-chaos-space-marine-emperors-children.pdf /pdfs/netea-chaos-space-marine-emperors-children-
RedirectMatch /pdfs/netea-dark-eldar.pdf /pdfs/netea-dark-eldar-
RedirectMatch /pdfs/netea-eldar-alaitoc.pdf /pdfs/netea-eldar-alaitoc-
RedirectMatch /pdfs/netea-eldar-biel-tan.pdf /pdfs/netea-eldar-biel-tan-
RedirectMatch /pdfs/netea-eldar-iyanden.pdf /pdfs/netea-eldar-iyanden-
RedirectMatch /pdfs/netea-eldar-saim-hann.pdf /pdfs/netea-eldar-saim-hann-
RedirectMatch /pdfs/netea-imperial-guard-baran-siegemasters.pdf /pdfs/netea-imperial-guard-baran-siegemasters-
RedirectMatch /pdfs/netea-imperial-guard-death-korps-of-krieg.pdf /pdfs/netea-imperial-guard-death-korps-of-krieg-
RedirectMatch /pdfs/netea-imperial-guard-minervan-tank-legion.pdf /pdfs/netea-imperial-guard-minervan-tank-legion-
RedirectMatch /pdfs/netea-imperial-guard-steel-legion.pdf /pdfs/netea-imperial-guard-steel-legion-
RedirectMatch /pdfs/netea-necron.pdf /pdfs/netea-necron-
RedirectMatch /pdfs/netea-ork-feral-orks.pdf /pdfs/netea-ork-feral-orks-
RedirectMatch /pdfs/netea-ork-speed-freeks.pdf /pdfs/netea-ork-speed-freeks-
RedirectMatch /pdfs/netea-ork-war-horde.pdf /pdfs/netea-ork-war-horde-
RedirectMatch /pdfs/netea-space-marine-codex-astartes.pdf /pdfs/netea-space-marine-codex-astartes-
RedirectMatch /pdfs/netea-space-marine-imperial-fists.pdf /pdfs/netea-space-marine-imperial-fists-
RedirectMatch /pdfs/netea-space-marine-salamanders.pdf /pdfs/netea-space-marine-salamanders-
RedirectMatch /pdfs/netea-space-marine-scions-of-iron.pdf /pdfs/netea-space-marine-scions-of-iron-
RedirectMatch /pdfs/netea-space-marine-space-wolves.pdf /pdfs/netea-space-marine-space-wolves-
RedirectMatch /pdfs/netea-space-marine-white-scars.pdf /pdfs/netea-space-marine-white-scars-
RedirectMatch /pdfs/netea-tau.pdf /pdfs/netea-tau-
RedirectMatch /pdfs/netea-tyranid.pdf /pdfs/netea-tyranid-